torch>=2.5.1+cu121
numpy>=2.2.6
einops>=0.8.0
pillow>=9.4.0
albumentations>=2.0.8
monai>=1.4.0
diffusers>=0.33.1
tensorboardX>=2.6.2.2
pandas>=2.2.3
medpy>=0.5.2
pyyaml>=6.0.2
PyWavelets
ptwt>=0.1.9
tqdm>>=4.67.1
